<div class="container">
    <div class="col-xs-8 col-xs-offset-2">
        <h3>{{asyncTitle | async}}</h3>
        <hr/>
        <input type="text" class="form-control" [(ngModel)]="searchQueue">
        <button class="bt btn-primary" (click)="addCar()">Добавить</button>
        <hr>
        <ul class="list-group">
            <li *ngFor="let mark of cars | carFiltering: searchQueue:'name'; let i = index">
                <b>{{i+1}}</b> {{mark.name}} <i>{{mark.description}}</i></li>
        </ul>
    </div>
</div>